
#time {
    font-size: 28px;
    letter-spacing: 5px;
    margin-left: 20px;
    margin-top: 10px;
}

button {
    text-transform: uppercase;
    padding: 0.8em 1em;
    transition: all 0.1s ease-out;
    background: #d3d3d3;
    border-radius: 3px;
    font-weight: bold;
    border: 1px solid #696969;
    margin-top: 40px;
}

button:hover {
    background-color: #dcdcdc;
    color: gray;
    border-color: gray;
}