body {
    background-color: #202020;
    margin-left: 50px;
    margin-right: 50px;
}

.photo {
    height: 55vw;
    width: 100%;
    object-fit: cover;
}

h3 {
    color: #fff;
}

p {
    color: #fff;
    font-size: 0.8em;
}

.slick-arrow {
    z-index: 10;
}
